/* Transitions */
.mstsage-menu,
.mstsage-transition {
    -webkit-transition: all 0.2s ease-in 0.2s;
    transition: all 0.2s ease-in 0.2s;
}

.mstsage-transition-opacity {
    -webkit-transition: opacity 0.2s ease-in 0.2s;
    transition: opacity 0.2s ease-in 0.2s;
}
