/* WP Tabbed Widget
--------------------------------------------- */
.blogrollContainer .wp-tabbed-tabs .wp-tabbed-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0px;
    display: block;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.blogrollContainer .wp-tabbed-tabs .wp-tabbed-nav li.tab-active {
    background: transparent;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.blogrollContainer .wp-tabbed-tabs .wp-tabbed-nav li {
    list-style: none;
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
    width: 125px;
    height: 40px;
    background: transparent;
    vertical-align: middle;
    text-align: left;
    margin-right: 0;
    border-bottom: 1px;
    position: relative;
}

.blogrollContainer .wp-tabbed-tabs .wp-tabbed-nav li a {
    display: inline-block;
    font-size: 14px;
    padding: 10px 14px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #000;
}

.blogrollContainer .wp-tabbed-tabs .wp-tabbed-nav li a:hover {
    text-decoration: underline;
}

.blogrollContainer .clear:after, .mstsage-blogrollFilters.ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


.blogrollContainer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3a3939;
    margin: 0 0 12px 0;
    clear:both;
}

.blogrollContainer p {
    font-size: 14px;
    line-height: 21px;
    margin: 0px;
}

.blogrollContainer strong {
    font-weight: bold;
}

.blogrollContainer ol,
.blogrollContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blogrollContainer a:link,
.blogrollContainer a:visited {
    color: #039;
    text-decoration: none;
}
.blogrollContainer a:hover,
.blogrollContainer a:active {
    text-decoration:underline;
}
.blogrollContainer a:active {
    color: #004D97;
}

.blogrollContainer .commerce-box,
.blogrollContainer .interruptContainer {
    overflow:hidden;
    border-bottom: 1px dashed #A6A6A6;
    margin-bottom: 12px;
}
.blogrollContainer .interrupts {
    float:left;
}
.blogrollContainer .interruptFirst {
    width: 308px;
}
.blogrollContainer .interruptLast {
    width: 296px;
    margin-left:12px;
}

.blogrollContainer button {
    background-color:#333;
    background: -moz-linear-gradient(top, #4d4d4d 0%, #333333 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#333333)); /* webkit */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:"helvetica neue", arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 32px;
    cursor: pointer;
}
.blogrollContainer button.loading{
    background-color:#ddd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #ddd 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ddd)); /* webkit */
    color:#000;
}

.mstsage-blogrollFiltersContainer {
    margin-top: 12px;
}

.blogrollContainer .mstsage-blogrollFilters {
    overflow: hidden;
    display: block;
    margin: 0 0 12px 0;
    padding: 0px;
}

.mstsage-blogrollFilters li {
    list-style: none outside;
    margin: 0px;
    padding: 0px;
    float: left;
}

.mstsage-blogrollFilters li {
    padding: 0 5px 0 6px;
    font-size: 14px;
    border-right: 1px solid #ccc;
}

.mstsage-blogrollFilters li:first-child {
    padding-left: 0px;
}

.mstsage-blogrollFilters li:last-child {
    border-right: none;
}

.mstsage-blogrollFilters li a.selected {
    color:#333;
    text-decoration:none;
}
.mstsage-blogrollMainFilters {
    padding-top: 12px; /* anchor tags show up above transparency without this */
    margin-bottom: 4px;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    width: 625px;
    height: 30px;
}

.mstsage-blogrollMainFilters h2 {
    display: inline;
}

.blogrollContainer .mstsage-blogrollMainFilters a.selected{
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    font-size: 16px;
    border:1px solid  #ccc;
    border-bottom:1px solid #fff;
    bottom:-2px;
}
.mstsage-blogrollMainFilters a {
    cursor: pointer;
    font-size: 16px;
    padding: 9px;
    position: relative;
    /*float: left;*/
    font-weight: bold;
}

.mstsage-blogrollMainFilters .first.selected {
    border-left: 0;
}

.blogroll-noData {
    float: left;
}
.blogroll-dateRange {
}
.blogroll-dropdown {
    display: none;
}
.blogroll-dropdownContainer {
    display: none;
    font-size: 11px;
    font-family: "helvetica neue",arial,sans-serif;
    border: 1px solid #EDEDED;
    float:right;
    width:100px;
    cursor: pointer;
}
.blogroll-downArrow {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    float: right;
    border-top: 3px solid #333;
    margin-top: 6px;
}
.nowLoading{
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
}

/*use to transition blogroll*/
.transition{
    opacity: .1;
}


.interruptFull .interrupts{
    margin-top:-12px;
}

.commerce-box.interruptFull,
.interruptContainer.interruptFull {
    overflow:visible;
    border-bottom:none;
}

.blogrollContainer .listElmnt .branded-series {
    border-bottom: 1px #BF1313 solid;
    color: #BF1313;
    float: left;
    font-family: ff-din-round-web-pro, sans-serif;
    font-size: 11px;
    line-height: 1;
    margin: 6px 5px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

/* blog roll articles deals interrupt */

#blogrollInterruptDeals {
    width: 628px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 15px 0 12px;
}

#blogrollInterruptDeals .listElmnt {
    border-bottom: 0px;
}

#blogrollInterruptDeals .listElmnt-blogItem {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #999;
}

#blogrollInterruptDeals .listElmnt-blogItem a.listElmnt-storyHeadline {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAMAAADHVLbdAAAARVBMVEUZGpoYGZEYGZMYGZMZGpgaG5saG5sYGZMaG5saG5sYGZEaG5sYGZMaG5sYGZIaG5saG5sYGZQAAAAZGpoZGpUYGZIaG5vRMatKAAAAE3RSTlOj89vYsSkr1wUI8hjcFOQRD80AsWgxEwAAAFJJREFUeNqdyNkOgCAMRNG6rwiMMP//qTYNqM/cpJmcCkrB+6DzeqC2QyItSJfIG8JiHJe99TTjmbhWO6XLDNVz7h3GZavG5G3MJbLFX+b4YwQecJ0PIkLQ6CwAAAAASUVORK5CYII=') no-repeat 99.5% 5px;
    padding-right: 23px;
    display: inline;
}

#blogrollInterruptDeals .listElmnt-thumb a img {
    border: 1px solid #ccc;
    margin-top: 4px;
    width: 134px;
}

#blogrollInterruptDeals #blogrollInterruptDealsMore {
    color: #6a6a6a;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 158px;
    text-transform: uppercase;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAF1V2h8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNpi/P//PwMDAxMDGAAEEMPLCVMYLitpAQQQ4xVV3f9//wJFAAKIASj/6/kLlivK2lDebc8AgAACUUDworsfqPbPu3eM32/c/PPmLVD4QXwqt5kJQABB5W86uEMYUNN/PXp8xysQyGAEamOAAW5Lc4bPR44BEdBkoMTfb99B+n/cuQcy/P0HIBsgwKDmgZzy5ClQFIhuOnr8fv0GIgizHgZe9k36fuESkMGpp6OwaA7jFTW9/3/+MGADvPa2CMOB4GldM8T8O4Hhfz59AoqwICtnEeBnV1FSXL6QRUgIIgIAKbaXpAFxmPUAAAAASUVORK5CYII=') no-repeat right center;
    padding-right: 12px;
}
