.pager_list {
    margin-left: -12px;
    padding-right: 0;
    padding-top: 20px;
    text-align: left;
}
.pager_list ul {
    height: 65px;
    margin: 0;
    padding: 0;
    width: 479px;
}
.pager_list li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px !important;
    margin: 0 1px 0 7px;
}
.pager_list li.inactive {
    border-color: #CCCCCC;
    color: #CCCCCC;
}
.pager_list li span {
    padding: 3px;
    text-align: center;
}
.pager_list li a {
    border: 1px solid #0045B0;
    margin: 0;
    padding: 6px;
    text-align: center;
}
.pager_list li.pager_selected {
    background-color: #0045B0;
    color: #FFFFFF;
    padding: 7px;
}

